* {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
}

.InputGroup {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.TextField {
  width: 1380px;
}

.btnSearch {
  width: 100px;
}

.Albums {
  width: 1500px;
  /* display: flex; */
  /* flex-wrap: wrap; */
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.image {
  width: 200px;
}

.Alb {
  /* width: 200px; */
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.title {
  margin-top: 5px;
}

.ListenBtn {
  margin-top: 10px;
}

.spinner {
  /* margin: 0 auto; */
  /* position: fixed;
  top: 50%; */
  left: 50%;
}
